.tab {
    overflow: hidden;
    background-color: #999999;
    border-radius: 10px;
}

.tab button {
    background-color: inherit;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
    font-size: 20px;
    font-weight: bold;
    color: white;
}

.tab button:hover {
    background-color: #adadad;
}

#all {
    width: 75%;
}

#left {
    padding-top: 7%;
    float: left;
}

#right {
    padding-top: 7%;
    float: right;
}

.tab img {
    height: 100px;
    float: center;
    background-color: inherit;
    border: none;
    outline: none;
    margin-top: 10px;
    margin-bottom: 10px;
}

body {
    background: #CACACA;
}