@font-face {
    font-family: "Rubik";
    src: url('Rubik-Regular.ttf');
}

.exception {
    -moz-border-radius: 15px;
    border-radius: 5px;
    padding: 5px;
}

body {
    background-color: #006F8A;
    font-family: "Rubik", "Ubuntu", sans-serif;
    color: white;
}