body {
    font-family: "Rubik", sans-serif;
}

.copyright {
    background-color: #999999;
    text-align: right;
    color: white;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    bottom: 0;
    left: 0;
    right: 0;
    width:100%;
    margin-bottom: 0;
    height: 120px;
}

.copyright p {
    line-height: 40%;
    font-size: 12px;
    margin-right: 2%;
}

#copyrightstatement {
    text-align: center;
    font-size: 14px;
}

.copyright a {
    color: white;
    text-decoration: none;
}

.tab {
    overflow: hidden;
    border-bottom: 1px solid #ccc;
    background-color: #999999;
}

.tab button {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
    font-size: 17px;
    color: white;
}

.tab button:hover {
    background-color: #adadad;
}

.tab div {
    float: left;
    padding: 10px;
}

.tab img {
    height: 48px;
    float: left;
    background-color: inherit;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 2px, 16px;
    transition: 0.3s;
    color: white;
}

.tab img:hover {
    background-color: #adadad;
}

#title {
    text-align: center;
}

body {
    background: linear-gradient(#00bfff, #00678a);
    margin: 0;
}

.topcontainer {
    background-color: #999999;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    text-align: center;
    color: white;
}

.topcontainer p {
    margin: 10px;
}

.faq {
    width: 350px;
    max-width: 350px;
    background-color: white;
    border-left: solid #999999 10px;
    border-top: solid #999999 10px;
    box-shadow: 0 1em 5em rgba(0, 0, 0, 0.10);
    padding: 20px;
    height: 200px;
    margin: 16px;
    margin-left: 70px;
    display: inline-block;
    overflow: hidden;
}

.faq h3 {
    color: black;
    font-size: 140%;
    margin: 0;
    text-align: left;
    line-height: 120%;
}

.faq p {
    color: #666666;
    margin: 0;
    text-align: left;
    margin-top: 5px;
    line-height: 150%;
}