.copyright {
    background-color: #999999;
    text-align: right;
    color: white;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    bottom: 0;
    left: 0;
    right: 0;
    width:100%;
    position: absolute;
}

#footertext {
    margin-right: 10px;
    margin-bottom: 10px;
}

a {
    color: white;
    text-decoration: none;
}

.tab {
    overflow: hidden;
    border: 1px solid #ccc;
    background-color: #999999;
}

.tab button {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
    font-size: 17px;
    color: white;
}

.tab button:hover {
    background-color: #adadad;
}

.tab img {
    height: 20px;
    float: left;
}

#title {
    text-align: center;
    font-family: "Georgia";
}

body {
    background: linear-gradient(#00bfff, #00678a);
    
}

.topcontainer {
    background-color: #999999;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    text-align: center;
    color: white;
}

.topcontainer p {
    margin: 10px;
}

.faq {
  width: 330px;
  max-width: 330px;
  background-color: white;
  border-left: solid #03A9F4 8px;
  box-shadow: 0 1em 5em rgba(0, 0, 0, 0.10);
  padding: 16px;
  height: 270px;
  margin: 20px;
  display: inline-block;
  overflow: hidden;
}