.copyright {
    background-color: #999999;
    text-align: right;
    color: white;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    bottom: 0;
    left: 0;
    right: 0;
    width:100%;
}

#footertext {
    margin-right: 10px;
    margin-bottom: 10px;
}

a {
    color: white;
    text-decoration: none;
}

.tab {
    overflow: hidden;
    border-bottom: 1px solid #ccc;
    background-color: #999999;
}

.tab button {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
    font-size: 17px;
    color: white;
}

.tab button:hover {
    background-color: #adadad;
}

.tab div {
    float: left;
    padding: 10px;
}

.tab img {
    height: 48px;
    float: left;
    background-color: inherit;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 2px, 16px;
    transition: 0.3s;
    color: white;
}

.tab img:hover {
    background-color: #adadad;
}

#title {
    text-align: center;
    font-family: "Georgia";
}

body {
    background: linear-gradient(#00bfff, #00678a);
    margin: 0px;
}

.topcontainer {
    background-color: #999999;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    text-align: center;
    color: white;
}

.topcontainer p {
    margin: 10px;
}